.compliment{
  background: #efe8db;
}

.card{
  height: 200px;
  overflow: scroll
}

.navbar-brand{
  font-family: 'Sassy Frass';
  font-size: 30px;
}
body{
  font-family: 'Inter';
  background: #212529;
}

.voted{
  color: #047AE8;
}